/* Color Theme Swatches in Hex */

.principal { color: #BF2A45; }
.background { color: #2C7BBF; }
.destaque { color: #F2EA7E; }
.Moda-4-hex { color: #F2C879; }
.Moda-5-hex { color: #D93232; }


html { 
    background: #2C7BBF;
    color: #F2EA7E;
}





